Comentários

In [ ]:
#comentários - 04
# Cntrl + ; gera um comentário.
"""
comentário

Orientação do professor - abusar do comentário
Comentários de forma concientes - relevantes

De forma educacional o comentario ajuda na aprendizagem no meio profissional polui o código.

"""

'''
Isso também é um comentário.

'''

Operadores Aritmeticos

In [ ]:
semana = 425
dia = semana / 5
print(dia)

mes = dia * 21
print(mes)

semanavt = 52
semanavr = 105

vt = semanavt * 4
vr = semanavr * 4

vtvr = vt + vr
salario = mes

print(salario)

In [ ]:
faculdade = 620
internet = 110

print((salario - faculdade) - internet)

Operadores relacionais

In [ ]:
3 > 4
3 >= 4
4 < 3
3 <= 3
3 == 3
3 != 4

Operadores de atribuição

In [ ]:
a = 3 # '=' 
a += 5 # o += acrescenta o valor, somente o = substitui o valor
a -= 2 # diminui o valor
a *= 3 # multiplica o valor
a /= 2 #divide o valor
a %= 2
a **= 2
a //= 2
print(a)

Operadores lógicos

In [ ]:
# true or false
7 != 3 and 2 > 3

#Tabela Verdade do AND
True and True
True and False
False and True
False and False
''' Basta ter um false para ser false '''

#Tabela verdade do OR
True or True
True or False
False or True
False or False
''' Basta ter um true para ser true ''' 

#Tabela verdade do XOR
True != True
True != False
False != True
False != False

#Operador de negação (unário)
not True
not False

not 0
not 1
not not -1
not not True

# Operadores bit a bit Cuidado!
True & False
False | True

# Um pouco de realidade
saldo = 1000
salario = 3000
despesas = 1000


# meta = saldo > 0 and salario - despesas >= 0.2 * salario

saldo_positivo = saldo > 0
despesas_controladas = salario - despesas >= 0.2 * salario

meta = saldo_positivo and despesas_controladas
meta

Desafio operadores lógicos

In [ ]:
# os trabalhos
job_terca = True
job_quinta = False

"""
- Ambos true = tv 50 + sorvete
- 1 true = tv 32 + sorvete
- 2 false = fica em casa
"""

tv50 = job_terca and job_quinta == True
tv50
tv32 = job_terca or job_quinta == True
tv32
nada = job_terca and job_quinta == False
nada


#Correção
tv_50 = job_terca and job_quinta
sorvete = job_terca or job_quinta
tv_32 = job_terca != job_quinta
mais_saudavel = not sorvete

print("Tv50={} Tv32={} sorvete={} saudavel={}"
      .format(tv_50, tv_32, sorvete, mais_saudavel))

# "{}, {}, {}".format(1, False, 'result')

Operadores unários

In [ ]:
a = 3
# a++
a += 1
# a--
a -= 1


not 0
not 1
not -2 
not False
not not True

Operadores ternários

In [ ]:
esta_chuvendo = True

'Hoje estou com as roupas ' + ('Secas.', 'Molhadas.')[esta_chuvendo]

'hoje estou com as roupas ' + ('molhadas2.' if esta_chuvendo else 'secas2.')

Mais operadores

In [ ]:
# Operador de membro
lista = [1, 2, 3, 'Ana', 'carla']
2 in lista
'Ana' not in lista

# Operador de identidade
x = 3
y = x
z = 3
x is y
y is z
x is not z

lista_a = [1, 2, 3]
lista_b = lista_a
lista_c = [1, 2, 3]

lista_a is lista_b
lista_b is lista_c
lista_a is not lista_c

Builtins

In [ ]:
# type()
type(1)
__builtins__.type('fala galera')
__builtins__.print(10 /3)

# __builtins__.help(__builtins__.dir)
# dir()

Conversão de tipos

In [ ]:
2 + 3
'2' + '3'
# 2 + '3'
a = 2
b = '3'

print(type(a))
print(type(b))

print(a + int(b))
print(str(a) + b)

type(str(a))

print(2 + float('3.4'))

Coerção Automática

In [ ]:
10 / 2 #Divisão sempre se torna float
type(10/2)
10 / 3
10 // 3
type(10 // 3) #Pode gerar um num int ou float dependendo da operação

10 // 3.3
type(10 // 3.3)
10 / 2.5
2 + True #true se torna "1"
2 + False #false se torna "0"

Tipos númericos #01

In [ ]:
dir(int)
dir(float)

a = 5
b = 2.5
a / b
a + b
a * b
#Todas operações que seja de um int com um float, o resultado sempre sera float, mesmo ambos os numeros sendo int.

type(a)
type(b)

b.is_integer()
5.0.is_integer()

int.__add__(2, 3)

(-2).__abs__()
abs(-2)

 Numeros #02

In [ ]:
# 1.1 + 2.2
from decimal import Decimal, getcontext

Decimal(1) / Decimal(7)

getcontext().prec = 4
Decimal(1) / Decimal(7)
Decimal.max(Decimal(20), Decimal(10))
#dir(decimal)

1.1 + 2.2
getcontext().prec = 2
Decimal(1.1) + Decimal(2.2)

#Conferir a documentação com python decimal no google

Tipo Strings #01

In [ ]:
#Dir(str)

# nome = 'Luan Lopes' 
'''
1- Acessar uma letra especifica com [].
2- Str é imutável, não se muda.
3- o que se muda é o conteudo da variavel mas não a string.
'''

# 'Marca d'água'
"Dias d'Avila" == 'Dias d\'Avila'
texto = 'Texto entre apostrofos pode ter "aspas" '

doc = """ Texto com multiplas
... linhas
"""
# doc
# print('Texto com multiplas \n linhas...')
# print(doc)

doc2 = ''' Também é possível usar a multiplas
    linhas com aspas simples.
 '''
# doc2

Strings #02

In [ ]:
Nome = 'Luan Lima'
Nome[0]
Nome[3]
Nome[-1]
Nome[4:] #Cria um range
Nome[-5:]
Nome[:4] #indice final não entra
Nome[0:6]

numeros = '1234567890'
numeros[::2]#Step de 2 em 2
numeros[1::2]#Step pares
numeros[::-1]#inverte
numeros[::-2]#inverte de 2 em 2

Nome[::-1]

Strings #03

In [ ]:
frase = 'luan lima lopes é bacana'
'in' in frase
'lu' not in frase
len(frase) #conta caracteres
frase.lower()#Atribui lowercase deixa minusculo
frase.upper()#Deixa tudo maiusculo

frase.split()
frase.split('a')

Strings #04

In [ ]:
#Magic methods & Opertadores overloading

a = '123'
b = 'silveira 4'
a + b

len(a)
'1' in a

Listas #01

In [ ]:
# append, remove, reverse
lista = []
type(lista)

''' 
1- Em python array é um list.
2- Em python o list é dinâmico e heterogenio.
3- Basicamente pode ser mutável e receber diversos tipos de dados.
Exemplo = int, float, string.
'''

lista.append(1) #Adicionar novos elementos
lista.append(['nova','lista', '1']) 
#Criar lista dentro de lista
lista.append(5)
len(lista)

nova_lista = [1, 2, 'luan', 'lopes']
len(nova_lista) 
nova_lista

nova_lista.remove(2)
nova_lista.reverse()
nova_lista

Listas #02

In [ ]:
# index, in e not in.
lista = [ 1, 5, 'receba', 'guilherme', 3.143]
lista.index('receba')
#lista.index(42) gera erro pq n tem na lista

1 in lista
'recebe' in lista
'pedro' not in lista
lista[0]
lista[4]
lista[-1] #pegar ultimo elemento da lista
lista[::2]

Listas #03

In [ ]:
lista = ['arthur', 'rodrigo', 'luan', 'lavinia', 'lopes']
lista[1:3]
lista[1:-1]
lista[:1]
lista[:-1] 
lista[::2] #vai de 2 em 2
lista[::-1] #inverte
del lista[2]
lista
del lista[1:]
lista

Tuplas

In [ ]:
# Tuplas são imutáveis
# Tuplas e listas estruturas indexadas


tupla = tuple()
#tupla = ('um') tipo string 
#tupla = ('um',) tipo tupla de um unico elemento

cores = ('verde', 'amarelo', 'azul', 'Azul', 'branco')
#Tupla imutável criada pelo ()

cores[0] #Primeiro obj
cores[-1] #Ultimo obj
cores[1:] # Intervalo de 1 até o ultimo item

cores.index('amarelo') #quantos amarelo na lista
cores.count('Azul')
len(cores)

Dicionários #01

In [ ]:
# Estruturas de chaves e valores
# Estruturas de dicionários pode ser indexada
# Para definir um dicionar é {}
# Pode ter um dicionário dentro do outro

pessoa = {'nome': 'Prof(a). Ana', 'idade': 38, 'cursos': ['inglês', 'Português']}

len(pessoa)

pessoa['nome']
pessoa['idade']
pessoa['cursos'][1]

pessoa.keys()
pessoa.values()
pessoa.items()
pessoa.get('cursos')

Dicionários #02

In [ ]:
# POP, tanto tira quanto coloca valor.
# Del, também exclui o valor.
# Update, Atualiza os valores.
# clear, limpa todos os valores.
# [] alterar atributo
# () alterar dentro uma função pop,update,clear
# dentro de uma função com vários elementos ( [ ] )

pessoa = {'nome': 'Alberto', 'idade': 20, 'Cursos': ['JavaScript', 'Python']}

pessoa['idade'] = 30
pessoa['Cursos'].append('Angular')
pessoa.pop('idade')
pessoa.update( {'idade': 40, 'sexo': 'M'})
del pessoa['Cursos']
pessoa.clear()
pessoa

Conjuntos / SET

In [ ]:
# SET limitado por {}
# Dicionário e conjunto por {}
# Lista por []
# Tupla ()
# Dicionário chave-valor e conjunto só valor
# Conjunto não aceita repetição e não é indexada

# a = (1,2,3) tupla
# a = [1,2,3] Lista
a = {1,2,3} #SET 

a = set('cod3r')
print('3' in a, 4 not in a) #operador membro
{1, 2, 3} == {3, 2, 1, 3}  #Conjunto tem ambos os elementos e repetições são ignoradas

#operações

c1 = {1, 2,}
c2 = {2, 3}
c1.union(c2)
c1.intersection(c2) #Itens em comum
c1.update(c2) #Altera os dados

c2 <= c1 #subconjunto
c1 >= c2 #superconjunto

{1,2,3} - {2} #Diferença
c1 - c2 #Diferença
c1 -= c2 #Diferença

# Interpolação

In [1]:
#Interpolação é substituir valores dentro de uma string
# %s (string) %d (int) %f (float) %r (true/false)
from string import Template

nome, idade = 'Ana', 30

print('Nome: %s idade: %d' % (nome,idade)) #mais antiga 
print('Nome: {0} Idade: {1}'.format(nome,idade)) #python < 3.6 #mais recomendado!
print(f'Nome: {nome} Idade: {idade}') # python >= 3.6

s = Template('Nome: $nome Idade: $idade')
print(s.substitute(nome=nome, idade=idade))

Nome: Ana idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30
Nome: Ana Idade: 30

If, elif e else

In [2]:
nota = 3

if nota >= 9:
    print("quadro de honra")
elif nota >=7:
    print("Aprovado")
elif nota >=5:
    print("recuperação")
else:
    print("reprovado")

reprovado

Comprehension

In [3]:
# generator ()
# Dict {}
# list comprehension []

# list comprehension

triplo = [i * 3 for i in range(1, 11) if i % 2 == 1]
print(f"List comprehesion: {triplo}")

# versão normal
triplos = []
for i in range(1, 11):
    if i % 2 == 1:
        triplos.append(i * 3)
print(f"Lista normal: {triplos}")


#Generator é muito mais leve do que o list comprehension mas gera sob demanda.
#Comprehesion ocupa os espaço em memória

generator = (i ** 2 for i in range(10) if i % 2 == 0)
# print(next(generator))

for numero in generator:
    print(f'Gen : {numero}')


#Dict_comprehension
dicionario = {i: i * 2 for i in range(10) if i % 2 == 0}
print(dicionario)

for numeros, dobro in dicionario.items():
    print(f'Dict {numeros} x 2 = {dobro}')

List comprehesion: [3, 9, 15, 21, 27]
Lista normal: [3, 9, 15, 21, 27]
Gen : 0
Gen : 4
Gen : 16
Gen : 36
Gen : 64
{0: 0, 2: 4, 4: 8, 6: 12, 8: 16}
Dict 0 x 2 = 0
Dict 2 x 2 = 4
Dict 4 x 2 = 8
Dict 6 x 2 = 12
Dict 8 x 2 = 16

Tipos de parâmetros (functions)

In [4]:
# *args -> tupla
# **kwargs -> dict
# Key worlded arguments

# returnos de uma função -> [lista], {dicionario}, (Tupla)
# Parâmetros nomeados deixa mais légivel

Conceito ZIP

In [ ]:
#Zip une 2 listas em uma só, pode se tornar uma tupla ou dicionário(chave-valor), também
nome = ['Luan', 'Pedro', 'henrique']
sobrenome = ['Lima', 'Pontes', 'Ferreira']

juntos = zip(nome, sobrenome)
list(juntos)
# tuple(juntos)
# dict(juntos)

[('Luan', 'Lima'), ('Pedro', 'Pontes'), ('henrique', 'Ferreira')]